ol, ul {
  list-style: none;
}

header .logo img {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
}

header .user img {
  display: inline-block;
}

header .nav > li > a.active:before {
  position: absolute;
  left: 0;
  top: -42px;
  width: 100%;
  content: ' ';
  height: 10px;
  background: #f44336;
  display: block;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.filter {
  margin-top: 0px !important;
}

.filter .selectBox {
  padding: 0 !important;
  margin-left: 0;
  margin-right: 20px;
}

.filter .selectBox.type, .filter .selectBox.cata {
  width: 100% !important;
}

.filter .btn {
  margin: 20px 0;
}

.validation-error {
  color: red;
}

.modal-featureLevels {
  min-width: 50%;
  left: 25%;
}

.property-slider .thumbnails a {
  margin-left: 10px;
  width: 20%;
}


.team-single .agent-contact li{
  list-style: none;
}

.langSwitcher a{
  cursor: pointer;
}
