.rtl {
  direction: rtl;
  font: 14px "Droid Arabic Kuf", "Tahoma";
  .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: right;
  }

  .pull-right {
    float: left !important;
  }

  .pull-left {
    float: right !important;;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Droid Arabic Kuf", "Tahoma";
  }

  th {
    text-align: right;
    font-weight: bold;
    font-size: 16px;
  }

  .input-group-addon:first-child {
    border-left: 0;
    border-right: inherit;
  }
  .input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child > .btn-group:not(:first-child) > .btn, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
  }
  .input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn-group:not(:last-child) > .btn, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
  }

  .checkbox label, .radio label {
    padding-left: 0;
    padding-right: 20px;
  }

  .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    margin-right: -20px;
    margin-left: 0;
  }

  .langSwitcher {
    float: right !important;

  }

  header {
    .logo {
      float: right;
    }
    .navbar {
      float: right;
      margin: 11px 100px 0 0 !important;
    }

    .user {
      float: left;
      img {
        margin-right: 0;
        margin-left: 10px;
      }
      .userName {
        margin-left: 10px;
      }
    }

    .user-drop {
      left: -13px;
      right: inherit;

      li i {
        margin-left: 10px;
        margin-right: 0;
      }
    }
  }

  header .navbar-nav > li {
    float: right;
  }

  header .navbar-nav > li {
    margin-left: 40px;
    margin-right: 0;
  }

  .Select--single > .Select-control .Select-value, .Select-placeholder {
    right: 0;
    left: inherit;
  }

  .btn i {
    margin-left: 10px;
    margin-right: 0 !important;
  }

  .call-action .btn {
    float: left;
  }

  .property-data {
    .prop-features {
      span {
        padding-right: 20px;
        padding-left: 0
      }

      .location, .area {
        background-position: top right;
      }
    }

    .prop-price .btn {
      float: left;
    }
  }

  .filter .selectBox {
    text-align: right;
  }

  .item .item-detail span i {
    margin-left: 10px;
    margin-right: 0px;
  }
  .item .item-detail .price span, .item .item-detail .area span {
    padding-left: 0px;
    padding-right: 20px;
  }

  .item .item-detail .place {
    margin-left: 20px;
    margin-right: 0;
  }

  .page-wrap .page-title {
    font-size: 35px;
  }

  .item .item-detail .right {
    float: left;
    text-align: left;
  }

  .item .item-detail .left {
    float: right;
  }

  footer .copy-right img {
    margin-left: 20px;
    margin-right: 0;
  }
  footer ul {
    text-align: left;
  }
  footer ul li:last-child {
    margin-left: 0;
    margin-right: inherit;
  }

  .team-single .agent-contact li i {
    margin-left: 15px;
    margin-right: inherit;
  }

  /* .page-contents ul {
  //  margin-right: 0px;
  //  margin-left: 20px;
  }*/

  .modal-featureLevels {
    direction: rtl;
  }

  .team-single h3 {
    //font-size: 20px;
  }

  .properties-list {
    .item {

      h3 {
        float: right;
      }
      figure {
        float: right;
      }

      .item-header {
        span i {
          margin-right: inherit;
          margin-left: 10px;
        }
        .favorite {
          float: left;
        }
      }
      .item-data {
        float: right;
      }
    }
  }

}
