.pace {
    background: url("../images/pattern2.jpg") repeat;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace:before {
    content: 'Hata';
    display: inline-block;
    top: 30%;
    position: absolute;
    padding-left: 50px;
    background: url("../images/logo.png") left center no-repeat;
    text-transform: uppercase;
    color: #212121;
    font-weight: 900;
    font-size: 18px;
    height: 32px;
    line-height: 34px;
    left: 50%;
    margin-left: -50px;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #ffeb3b;
    position: fixed;
    z-index: 2000;
    top: 50%;
    right: 100%;
    width: 100%;
    height: 6px;
}

.pace .pace-progress:after {
    display: block;
    position: absolute;
    top: -10px;
    right: 0;
    content: ' ';
    width: 24px;
    height: 24px;
    background: #ffeb3b;
    border-radius: 50%;
}